---
import Counter from "../components/Counter";
---

<div transition:persist>
  <nav>
    <a href="/">Home</a>
    <a href="/about">Sobre nosotros</a>
    <a href="/blog">El blog</a>
  </nav>
  <Counter client:visible />
</div>

<style>
  nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  a {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 80px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(239, 225, 225, 0.618);
    border-radius: 12px;
    &:hover {
      background-color: #9dd4c482;
    }
  }
</style>
